services:
  action_test:
    container_name: action-test
    # image: sharelatex/sharelatex-base
    build: .
    platform: linux/amd64
    working_dir: /workspace
    volumes:
      - ./:/workspace
    tty: true
    restart: always
    command: sh './entrypoint.sh'
    environment:
      - LATEX_MAIN_FILENAME=main
      - LATEX_BASEDIR=src
      - LATEX_OUTPUT_DIR=build
      - IMAGE_DIR=images
      - BIBTEX_FILENAME=refs
      - LATEX_ENGINE=pdflatex
