name: latex_compile

on: push
  # push:
    # branches:
    #   - release
    # - main

        #   docker compose build --no-cache
        #   docker compose up -d
          # echo "Hello Github actions!" > hello.txt
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          docker compose build --no-cache
          docker compose up -d
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./build/main.pdf
          git commit -m "Github actions generated"
          git push
