name: latex_compile

on:
  push:
    branches:
    #   - release
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build
        shell: bash
        env:
          VAL: ${{ secrets.VALUE }}
        run: |
          docker compose build --no-cache
          docker compose up -d

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./build/main.pdf
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
