name: github-action-by-docker

on:
  push:
    branches:
      - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Checkout and build
        shell: bash
        env:
          VAL: ${{ secrets.VALUE }}
        run: |
          docker compose build --no-cache
          docker compose up -d
